@media only screen and (min-width:1024px){
  .container{
    /* border: 1px solid black; */
    width: 90vw;
    height: 90vh;
    text-align: center;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin-top: 4rem;
  }
  .certficateHolder {
    /* border: 1px solid black; */
  height: 60vh;
  width: 50vw;
  display: flex;
  margin:auto;
    margin-top: 4rem;
  }
}
@media only screen and (max-width:1024px) {
  .container{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin-top: 4rem;
}
  .container h1{
    font-size: 32px;
    font-weight:800;
  }
  .container p{
    font-size: 16px;
    word-spacing: 0.1rem;
  }
.certficateHolder {
      /* border: 1px solid black; */
    height: 400px;
    width: 600px;
    display: flex;
    margin:auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width:768px) {
  .container{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin-top: 4rem;
}
  .container h1{
    font-size: 22px;
    font-weight:800;
  }
  .container p{
    font-size: 14px;
    word-spacing: 0.1rem;
  }
.certficateHolder {
      /* border: 1px solid black; */
    height: 200px;
    width: 260px;
    display: flex;
    margin:auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
}