@media only screen and (min-width:1300px){
    .container {
        width: 85%;
        height: max-content;
        border: 1px solid black;
        display: flex;
        margin: auto;
        margin-top: 4rem;
    }
    .cardContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 260px ;
        align-items: center;
        
    }
    .cardItem {
        /* border : 1px solid black; */
        width: 250px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #EBEBEB;
        border: 0.1px solid rgb(176, 176, 176);
    }
    .cardItemDetails{
        width: fit-content;
        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
    .cardItemDetails h1{
        text-align: center;
        font-size: 26px;
    }
    .cardItemDetails p{
        font-size: 15px;
        line-height: 1.8rem;
    }
}
@media only screen and (min-width:992px) and (max-width:1300px){
    .container {
        width: 95%;
        height: max-content;
        display: flex;
        margin: auto;
        margin-top: 4rem;
    }
    .cardContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 280px ;
        align-items: center;
        
    }
    .cardItem {
        border : 1px solid black;
        width: 220px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #EBEBEB;
        border: 0.1px solid rgb(176, 176, 176);
    }
    .cardItemDetails{
        width: fit-content;
        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
    .cardItemDetails h1{
        text-align: center;
        font-size: 26px;
    }
    .cardItemDetails p{
        font-size: 15px;
        line-height: 1.8rem;
    }
}
@media only screen and (max-width:992px){
    .container {
        width: 90%;
        /* border: 1px solid black; */
        display: flex;
        margin: auto;
        margin-top: 4rem;
    }
    .cardContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: auto ;
        align-items: center;
        /* border: 1px solid black; */
        gap: 2rem;    
    }
    .cardItem {
        /* border : 1px solid black; */
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #EBEBEB;
        border: 0.1px solid rgb(176, 176, 176);
    }
    .cardItemDetails{
        width: fit-content;
        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
    .cardItemDetails h1{
        text-align: center;
        font-size: 25px;
        font-weight: bolder;
    }
    .cardItemDetails p{
        font-size: 13px;
        line-height: 1.8rem;
    }
}
@media only screen and (max-width:768px){
    .container {
        width: 90%;
        /* border: 1px solid black; */
        display: flex;
        margin: auto;
        margin-top: 4rem;
    }
    .cardContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: auto ;
        align-items: center;
        /* border: 1px solid black; */
        gap: 2rem;    
    }
    .cardItem {
        /* border : 1px solid black; */
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #EBEBEB;
        border: 0.1px solid rgb(176, 176, 176);
    }
    .cardItemDetails{
        width: fit-content;
        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
    .cardItemDetails h1{
        text-align: center;
        font-size: 25px;
        font-weight: bolder;
    }
    .cardItemDetails p{
        font-size: 13px;
        line-height: 1.8rem;
    }
}
