@font-face{
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Open+Sans:wght@300&family=Raleway:wght@100;200;300;500&display=swap');  
}
body{
    padding: 0%;
    margin: 0%;
    font-family: 'Raleway', sans-serif;
    color: rgb(44, 44, 44);
    text-align: justify;
    /* line-height: 1.5rem; */
}